*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings layout header-contenitor*/
.container {
  width: 80%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}



header {
  height: 100px;
  background-color: #255ee9;
}

 /* /settings layout header */


/* settings layout nav */
header nav {
  width: 100%;
  height: 100%;
}

.logo img,.list ul li ,.button button {
  display: inline-block;
}

.list ul li a {
  color: white;
  list-style: none;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  margin:0 10px;
}

.button button {
  font-weight: 300;
  background-color: white;
  border-radius: 20px;
  text-transform: capitalize;
  padding: 10px;
  border:none;
}

/* /settings layout nav */




/* settings layout jambo */
.jambo {
  height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: 100% 100%;
}

.jambo .container .title {
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%,-30%);
}


.jambo .container h1 {
  color:white;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.container .title p {
  color:white;
  font-size: 20px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
}

.container .title a {
  
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  display:inline-block;
  padding:10px 20px;
  margin:20px 10px;
}

.title a i {
  margin-right:10px;
}

.title :nth-child(3) {
  background-color: white;
  color:black;
}

.title :nth-child(4) {
  background-color: black;
  color:white;
}


/* /settings layout jambo */


/* settings main */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.text h1,.text p {
  width: 40%;
}

 .imgf img,.text h1,.text p {
  float: left;
  margin-left:20px;
  
}

.textt {
  text-align: center;
}

main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
main p {
  color: #363a3c;
  font-size: 20px;
  line-height: 30px;
}

#box {
  margin-top: 60px;
  margin-bottom: 100px;
}


/* settings main */


/* debug  */

.debug footer {
  height: 500px;
  background-color: gray;
}

.debug footer .top {
  background-color: sienna;
  height:400px;
}

.debug footer .bottom {
  background-color: yellowgreen;
  height:100px;
}
/* /debug */


/* content */


